$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

.fw-t {
  font-weight: $font-weight-thin;
}
.fw-el {
  font-weight: $font-weight-extra-light;
}
.fw-l {
  font-weight: $font-weight-light;
}
.fw-r {
  font-weight: $font-weight-regular;
}
.fw-m {
  font-weight: $font-weight-medium;
}
.fw-sb {
  font-weight: $font-weight-semi-bold;
}
.fw-b {
  font-weight: $font-weight-bold;
}
.fw-eb {
  font-weight: $font-weight-extra-bold;
}
.fw-bb {
  font-weight: $font-weight-black;
}
