@import "../colors.scss";

// Primary

.fc-p1 {
  color: $primary-1;
}
.fc-p2 {
  color: $primary-2;
}
.fc-p3 {
  color: $primary-3;
}
.fc-p4 {
  color: $primary-4;
}
.fc-p5 {
  color: $primary-5;
}
.fc-p6 {
  color: $primary-6;
}
.fc-p7 {
  color: $primary-7;
}
.fc-p8 {
  color: $primary-8;
}
.fc-p9 {
  color: $primary-9;
}
.fc-p10 {
  color: $primary-10;
}

// Secondary

.fc-s1 {
  color: $secondary-1;
}
.fc-s2 {
  color: $secondary-2;
}
.fc-s3 {
  color: $secondary-3;
}
.fc-s4 {
  color: $secondary-4;
}
.fc-s5 {
  color: $secondary-5;
}
.fc-s6 {
  color: $secondary-6;
}
.fc-s7 {
  color: $secondary-7;
}
.fc-s8 {
  color: $secondary-8;
}
.fc-s9 {
  color: $secondary-9;
}
.fc-s10 {
  color: $secondary-10;
}

// Neutral

.fc-n1 {
  color: $neutral-1;
}
.fc-n2 {
  color: $neutral-2;
}
.fc-n3 {
  color: $neutral-3;
}
.fc-n4 {
  color: $neutral-4;
}
.fc-n5 {
  color: $neutral-5;
}
.fc-n6 {
  color: $neutral-6;
}
.fc-n7 {
  color: $neutral-7;
}
.fc-n8 {
  color: $neutral-8;
}
.fc-n9 {
  color: $neutral-9;
}
.fc-n10 {
  color: $neutral-10;
}

// Black White

.fc-black {
  color: $black;
}
.fc-white {
  color: $white;
}

// Response

.fc-success {
  color: $success;
}
.fc-warning {
  color: $warning;
}
.fc-danger {
  color: $danger;
}
