@import "../../../styles/colors.scss";

$padding-menu: 1.5rem;

.MenuWrapper {
  padding: 0 $padding-menu;
  padding-top: calc(78px + $padding-menu);
  width: 280px;
  height: 100vh;
  background-color: $white;
  box-shadow: inset -1px 0px 0px #efefef;
}

.MenuLinksWrapper {
  display: grid;
  gap: 0.5rem;
}
