@import "../../../styles/colors.scss";

.NavbarWrapper {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 78px;
  background-color: $white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}
