$primary-1: #001b7c;
$primary-2: #002892;
$primary-3: #0039b7;
$primary-4: #014edc;
$primary-5: #0065ff;
$primary-6: #3e93fe;
$primary-7: #66aeff;
$primary-8: #99cdff;
$primary-9: #cce8fe;
$primary-10: #eaf9ff;

$secondary-1: #050b25;
$secondary-2: #09102c;
$secondary-3: #0f1837;
$secondary-4: #142141;
$secondary-5: #1d2c4b;
$secondary-6: #506793;
$secondary-7: #809bca;
$secondary-8: #b3caec;
$secondary-9: #d8e5f6;
$secondary-10: #f1f8fe;

$neutral-1: #31131d;
$neutral-2: #3b2027;
$neutral-3: #493336;
$neutral-4: #564a4a;
$neutral-5: #666666;
$neutral-6: #a3a3a3;
$neutral-7: #d1d1d1;
$neutral-8: #efefef;
$neutral-9: #f7f7f7;
$neutral-10: #f9f9f9;

$black: #000;
$white: #fff;

$success: #36b37e;
$warning: #ffab00;
$danger: #ff5630;
