.u-none {
  user-select: none;
}

.gap-025 {
  gap: 0.25rem;
}
.gap-05 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}

.d-none {
  display: none !important;
}

.dm-none {
  @media (max-width: 1150px) {
    display: none !important;
  }
}

.d-flex-ac {
  display: flex;
  align-items: center;
}

.d-flex-acjc {
  display: flex;
  align-items: center;
  justify-content: center;
}
