.u-none {
  user-select: none;
}

.gap-025 {
  gap: 0.25rem;
}
.gap-05 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}

.d-none {
  display: none;
}

.d-flex-ac {
  display: flex;
  align-items: center;
}
