@import "./typostyle/font-heading.scss";
@import "./typostyle/font-label.scss";
@import "./typostyle/font-body.scss";
@import "./typostyle/font-weights.scss";
@import "./typostyle/font-colors.scss";
@import "./colors.scss";

* {
  font-family: "Inter", sans-serif !important;
  font-weight: $font-weight-regular;
  color: $secondary-5;
}
